
<div class="pages">
    <div class="page" data-page="registerTerm">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="icon icon-back"></i>
                        <span>بازگشت</span>
                    </a>
                </div>
                <!--<div class="right sliding" style="margin:auto;">ثبت  </div>-->
                <!--<div class="right">
                    <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                </div>-->
            </div>
        </div>

        <div class="page-content" style="margin-top:50px">
            <div class="content-block">

                <div id="frmRegister">
                    <!-- <p>متن : <input type="text" name="term" ng-model="term"></p>
                    <p>ترجمه : <input type="text" name="translate" ng-model="translate"></p>

                    <button  ng-click="registerItem()">ثبت</button> -->
<ul style="list-style: none; ">
        <li class="align-top">
                <div class="item-content">
                    <!--<div class="item-media"><i class="icon f7-icons">chat</i></div>-->
                    <div class="item-inner">
                        <div class="item-title label">متن :</div>
                        <div class="item-input">
                            <textarea style="background-color:#fff68e;width: 100%;height: 60px;" name="term" ng-model="term"></textarea>
                        </div>
                    </div>
                </div>
            </li>

            <li class="align-top">
                    <div class="item-content">
                        <!--<div class="item-media"><i class="icon f7-icons">chat</i></div>-->
                        <div class="item-inner">
                            <div class="item-title label">ترجمه  :</div>
                            <div class="item-input">
                                <textarea style="background-color:#fff68e;width: 100%;height: 60px;" name="translate" ng-model="translate"></textarea>
                            </div>
                        </div>
                    </div>
                </li>

</ul>


                <a ng-click="registerItem()" class="button button-raised btn-ho-green">ثبت </a>



                    
                </div>            
                
            </div>
        </div>

    </div>
</div>


